#instruction-container {
    display: flex;
    justify-content: left;

    margin-left: 50%;
    translate: -50%;

    width: 1200px;
}

#main-container {
    flex-direction: column;

    background-color: #C0F3EA;

    margin-top: 50px;
    margin-left: 50%;
    translate: -50%;

    width: 1041px;
    height: 600px;
}

.user-container {
    display: flex;
    justify-content: left;

    height: 35%;
    width: 100%;

    margin: 0px;
}

.pkmn-free-space {
    width: 500px;
    height: 100%;
}

.pkmn-hud {
    width: 43%;
    height: 60%;

    background: #EBAE39;
    border-radius: 30px;

    margin-top: 42px;
}

.pkmn-image {
    margin-left: 25px;
    margin-right: 25px;
}

#current-user-pkmn-0 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.pkmn-image img {
    height: 210px;
    width: 210px;
}

#hub-container {
    background-color: #D9D9D9;
    display: flex;
    height: 30%;
}

#dialog-container {
    width: 60%;
    height: 75%;

    background-color: black;

    padding-top: 10px;

    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
}

#dialog-text span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;

    margin-left: 20px;
}

#user-option-container {
    width: 40%;
}

#btn-container,
.fight-form tbody {
    height: 100%;
    width: 100%;
}

.fight-form {
    width: 390px;
    height: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fight-btn {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: #909090;
    font-size: 20px;
    border-style: hidden;

    margin-left: 50%;
    translate: -50%;
}

.fight-btn:hover {
    background-color: white;
}

#quit-btn:hover {
    background-color: red;
}

div#dialog-text {
    width: 0px;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
}