#gold{
    overflow: hidden;
}
.gold-img{
    margin: 0;
    border: none;
    outline: none;
    text-align: left;
    float: left;
  }
.gold-count{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    text-align:right;
    float: left;
  }