.gold{
    overflow: hidden;
    display: flex;
    justify-content:start;
    padding-left: 5%;
    align-items: center;

}
.gold-img{
    padding-right: 10%;

  }
.gold-count{
    font-size: 16px;
    color: white;


  }