.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 48px;
    min-width: 100px;
    display: flex;
    justify-content: left;
}

#connected{
    width: 17px;
    height: 17px;
    margin-top: 14px;
    margin-right: 10px;
    margin-left: 5px;
}

.dropbtn p{
    margin-top: 10px;
}